<div id="algoHolder"></div>
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
<script src="algorithms/common/removeFromArray.js"></script>
<script src="algorithms/common/startAndRestart.js"></script>
<script src="algorithms/common/heuristic.js"></script>
<script src="algorithms/trafficAStar/disallowDiagonalWallMoves.js"></script>
</body>

</html>